<%- include('partials/header') %> 
  <header>
    <div class="smoothie">
      <img src="/datareports.png" alt="">
    </div>
    <div class="headings">
      <h2>Get Cost Reports</h2>
      <h3>On Daily Cost and Monthly Cost </h3>
      <a href="/login" class="btn">Login</a>
    </div>
  </header>
<%- include('partials/footer') %> 
